<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://camel.apache.org/schema/spring
        http://camel.apache.org/schema/spring/camel-spring.xsd">
    <bean id="properties" class="org.apache.camel.component.properties.PropertiesComponent">
        <property name="locations">
            <list>
                <value>classpath:additional.properties</value>
                <value>classpath:mail.properties</value>
            </list>
        </property>
    </bean>
    <bean id="pojoAggregator" class="org.learning.camel.bean.aggregator.PojoAggregation"/>
    <bean id="bodySetter" class="org.learning.camel.bean.utils.BodySetter"/>
    <bean id="prepareListForParallelProcessing" class="org.learning.camel.bean.utils.PrepareListForParallelProcessing "/>
    <bean id="artistQueryProcessor" class="org.learning.camel.bean.ArtistQueryProcessor"/>
    <bean id="reverseProcessor" class="org.learning.camel.bean.ReverseProcessor"/>
    <bean id="stringAggregationStrategy" class="org.learning.camel.bean.aggregator.StringAggregationStrategy"/>
    <bean id="listAggregationStrategy" class="org.learning.camel.bean.aggregator.ListAggregationStrategy"/>
    <bean id="myExecutor" class="java.util.concurrent.Executors" factory-method="newFixedThreadPool">
        <constructor-arg type="int" value="2"/>
    </bean>
    <bean id="messageFilterBean" class="org.learning.camel.bean.MessageFilterBean"/>
    <bean id="recipientListResolver" class="org.learning.camel.bean.utils.RecipientListResolver"/>
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/carddb"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>
    <bean id="jdbc" class="org.apache.camel.component.jdbc.JdbcComponent">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>